<a href="/">Homepage</a>
<a href="/new_articles">Create Article</a>
<a href="/categories">Categories</a>
 <form action="/sessions" method="POST">
 <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
 </form>


<h1>Articles</h1>

<ul>
<% @articles.each do |article| %>
  <li>
  <%= article["title_of_article"]  %></li>
  <a href="/articles/<%=article['id']%>"><img src="<%= article["image_url"]  %>"></li>
<% end %>
</ul>



