<h1>Art in Real Time :New York Edition</h1>
<ul>
 <li><a href="/articles">Articles</a></li>
 <li><a href="/new_articles">Create Article</a></li>
 <li><a href="/categories">Categories</a></li>

 <form action="/sessions" method="POST">
 <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
 </form>
</ul> 

