<h1>Art in Real Time :New York Edition</h1>
<ul>
 <li><a href="/articles">Articles</a></li>
 <li><a href="/new">Create Article</a></li>
 <li><a href="/articles/:id">Categories</a></li>
 <li><a href="/users">Users</a></li>
 <button>Log Out</button>
</ul> 

