<!DOCTYPE html>
<html lang="en"><head>
	<title>Art in Real Time</title>
</head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/style.css">
<link href='https://fonts.googleapis.com/css?family=Francois+One|Ubuntu+Condensed|Pacifico|Varela+Round|Gloria+Hallelujah|Ropa+Sans:400,400italic|Quicksand|Comfortaa:400,700|Fredoka+One' rel='stylesheet' type='text/css'>
<body>
    <%=yield%>
</body>
<script src="main.js"></script>
</html>