<div class="title">
<div class="background_image">
<h1>Art in Real Time </h1>
<h2>:New York Edition</h2>
</div>
<div class="login">
<h2>Please Login<h2>

<form action= "/" method='POST'>
	  <label for="name">Username:</label>
	  <input type="text" name="name" id="name" placeholder=" Your username">
	  <label for="password">Password:</label>
	  <input type="password" name="password" id="password" id="password" placeholder=" Your password">
	  <button>Log In</button>
</form>
</div>
<p>If you dont have an account, please<a href="/sign_up"> Sign Up.</a> </p>
</div>

