<h1>Art in Real Time :New York Edition</h1>
<h2>Please Login<h2>

<form action= "/" method='POST'>
  <label for="name">Username:</label>
  <input type="text" name="name" id="name" placeholder="Your username!">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="Your password!">
  <button>Log In</button>
</form>

<p>If you dont have an account, please<a href="/sign_up"> Sign Up.</a> </p>