<!-- <h1>Upload New Article Here</h1>

<form action="/new" method="POST">
  
  <input type="text" name="name" placeholder="Name">
  <input type="password" name="time_posted" placeholder="Time">
  <input type="password" name="password_confirmation" placeholder="Password Confirmation">
  <input type="text" name="age" placeholder="Your age">
  <input type="text" name="location" placeholder="Your location">
  <input type="text" name="avatar_img_url" placeholder="Avatar Image URL!">
  <button>Upload Article</button>

</form>

create table post (id integer primary key, author VARCHAR, time_posted integer, article VARCHAR, title_of_article VARCHAR, image_url VARCHAR, last_upload VARCHAR, category_id integer ); -->