<!-- <h1>Upload New Article Here</h1>

<form method="POST" action="/register">
 <input name="name" type="text" placeholder="Author Name"></input>
<!--   <input name="start_year" type="text" placeholder="Start Year"></input> -->
 <input type="submit" value="Register"></input>
</form>

create table posts (id integer primary key, author VARCHAR, time_posted integer, article VARCHAR, title_of_article VARCHAR, image_url VARCHAR, last_upload VARCHAR, category_id integer ); -->
