<%if session[:user_id]%>

<a href="/">Homepage</a>
<a href="/categories">Categories</a>
<a href="/articles">Articles</a>
 <form action="/sessions" method="POST">
 <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
 </form>


<h1>Upload New Article Here</h1>

<form method="POST" action="/new_articles">
<label for="article_title">Article Title:</label>
 <input name="title" type="text" placeholder="Title"></input>
 <label for="post">Article: </label>
 <textarea name="post" cols="100" rows="20" placeholder="Write Article Here..."></textarea>
  <select type="text" name="category_id">
            <% @categories.each do |category| %>

              <option value="<%=category.id%>"> <%=category.category_name%> <option>

              <% end %>
  </select>
	

 <input name="img" type="img" placeholder="Add Image Here"></input>
 <input type="submit" value="Sumbit Article"></input>
</form>

<%else%>

<h1>Please <a href="/login">Login</a> or <a href="/sign_up">SignUp</a> for access.</h1> 


<%end%>
<!-- add stuff here -->



