<h1>Upload New Article Here</h1>

<form method="POST" action="/new_articles">
 <input name="title" type="text" placeholder="Title"></input>
 <textarea name="post" cols="100" rows="20"></textarea>
  <select type="text" name="category_id">
            <% @categories.each do |category| %>

              <option name="<%=category.id%>"> <%=category.category_name%> </option>

              <% end %>
  </select>
	

 <input name="img" type="img" placeholder="Add Image Here"></input>
 <input type="submit" value="Sumbit Article"></input>
</form>

