* {
  margin: 0;
}

.background_image{	
	/*background-image: url("https://www.thecultivist.com/system/files/042015/553f8d75b3204f6bff000004/background/David_Dawson-Bridgeman-Images-the_painters_feet_2010.jpg?1432805604");*/
  background-image: url('/images/login_photo.jpg');
  height:700px;
	background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
   overflow-y: scroll;
   vertical-align: baseline;
}

.title h1{
    font-family: 'Quicksand';
    margin:0 auto;
    text-align: center;
    font-size: 70px;
    color:white;
    padding-top: 200px

}

.login{
 overflow-y: scroll;
}

.login h2{
    font-size:30px;
    font-family: 'Quicksand';
    font-weight: bolder; 
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    color:black;
}

.login input{
	border:1px solid;
	height: 22px;
	width: 230px;
	font-family: 'Quicksand';
	font-size: 20px;
	opacity: 0.9;
  filter: alpha(opacity=40);
}

.login button{
	font-size: 15px;
	font-family: 'Quicksand'; 
  border:1px solid;
}

.login button:hover{
	background:grey;

}

.title p{
	margin:0 auto;
	padding-top: 40px;
	font-size:20px;
	text-align: center;
	font-family: 'Quicksand'; 
	font-weight: bold	
}

.index_image{
/*	background-image: url("http://i.imgur.com/wKnxsWQ.jpg?2");*/
  background-image: url("/images/homepage.jpg");
	background-position: center;
	height:800px;
	background-repeat: no-repeat;
	text-align: center;
}

.index h1{
	margin:0 auto;
	text-align: center;
	font-size: 40px;
	font-family: 'Quicksand'; 
	font-weight:bold;
  padding-top: 40px;
}

.index h2{
	margin:0 auto;
	text-align: center;
	font-size: 40px;
	font-family: 'Quicksand', bold;
}

.index ul{
  padding: 20px;
  /*padding-top: 20px;*/
    display: flex;
    justify-content: space-between;
/*  flex-wrap: wrap;*/
}

.index li{
/*	list-style-type: none;*/
  padding:0px;
  list-style:none;
	font-family: 'Quicksand', bold;
/*	padding-right: 140px;
	padding-left: 130px;*/
	font-size: 24px;
}

.index button{
	border:1px solid;
	font-size: 15px;
	font-family: 'Quicksand'; 
	margin:0 auto;
	text-align: center;
}

.index a{
  text-decoration: none;
}

.sign_up{
	font-family: 'Quicksand', bold;
	margin:0 auto;
	text-align:center;
}

.sign_up input{
    font-family: 'Quicksand', bold;
    border:1px solid;
    color:black;
    width: 150px;
}

.sign_up button{
	font-family: 'Quicksand', bold;
    border:1px solid;
}

.signup_image{
    /*background-image:url("http://i.imgur.com/hALtqfi.jpg?1");*/
    background-image:url("/images/signup.jpg");
    background-position:center;
    height:800px;
	width:100%;
}

.redirect{
	/*background-image:url("http://i.imgur.com/xRyBNO3.jpg?1");*/
  background-image: url('/images/wrongpassword.jpg');
	color:white;
	height:700px;
	width:100%;
	background-position:center;
	font-family: 'Quicksand', bold;
	margin:0 auto;
	text-align:center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.redirect_writing{
	color:white;
	font-family: 'Quicksand', bold;
	height:100px;
	width:30%;
	text-align:center;
	margin:0 auto;
	padding-left:400px;
	padding-top: 150px;
}

.articles{
	font-family: 'Quicksand', bold;
	text-align:center;
	margin:0 auto;
	
}

.articles ul{
  padding:0;
}

.articles h1{
	font-size: 40px;
	padding-top: 30px;
}

.articles li{
	list-style-type: none;
	font-size:32px;
	padding-top: 30px;
	padding-bottom: 30px;
}


.articles li a{
	padding bottom:5px;
}

.articles_top ul{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.articles_top a{
  text-decoration: none;
}

.articles_top li{
	font-size: 24px
  padding:0px;
  list-style:none;
  font-family: 'Quicksand', bold;
}

.articles_top ul{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.articles button{
  margin-top: 20px;
}

.view_articles{
   font-family: 'Quicksand', bold;
   margin:0 auto;
   text-align:center;
}

.view_articles h2{
	padding-top: 30px;
    font-size: 32px;
}

.view_article p {
	font-size: 28px;
}

.new_form button{
  margin-bottom: 20px;
  margin-top: 20px;
}

.new_form{
   font-family: 'Quicksand', bold;
   margin:0 auto;
   text-align:center;
   padding-top: 10px;
/*   background-image: url("http://petitepassport.com/dev/wordpress/wp-content/uploads/2014/11/jeffkoonscentrepompidou.jpg");*/
   background-image: url("/images/image4.jpg");
   height:700px;
   width:100%;
   background-position:center;
   background-repeat: no-repeat;
}

.new_form h1{
	padding-top: 20px;
	font-size: 30px;

}

.new_form input{
    font-family: 'Quicksand', bold;
    border:1px solid;
    font-color:black;
    width: 150px;
    margin:0 auto;
    background-color: rgba(249,249,249,0);
}

.new_form label{
	margin:0 auto;
    text-align:center;
}

.new_form textarea{
	font-size:11px;
}

.skinny_div{
	width:50%;
    margin:0 auto;
    text-align:center;
    font-size: 10px;
    font-family: 'Quicksand', bold;
}

.clear {
	background-color: rgba(249,249,249,0);
	border-radius: 10px;
}

.categories{
   font-family: 'Quicksand', bold;
   margin:0 auto;
   text-align:center;
}

.categories h1{
	font-size:50px;
/*  padding-top: 30px;*/
  padding-bottom: 30px;
  text-align: center;
}

.categories button{
  margin-bottom: 30px;
  text-align: center;
  width: 100px;
}

.categories ul{
   list-style-type: none;
   margin:0 auto;
   text-align:center;
   font-size:22px;
   padding-top: 10px;
    display: inline;
    justify-content: space-between;

}

.categories li{
	padding-bottom: 10px;
  text-align: center;
  list-style: none;
  padding: 0px;
}

.categories_img{
	padding-top:10px;
	/*background-image: url("http://i.imgur.com/CXkqTwb.jpg?1");*/
  background-image: url("/images/image6.jpg");
	width:100%;
	height:800px;
	background-position:center;
    background-repeat: no-repeat;
}

.category_id{
   font-family: 'Quicksand', bold;
   margin:0 auto;
   text-align:center;
}

.category_id h1{
   	padding-top:15px;
	padding-bottom: 15px;
	font-size:40px;
}

.category_id h2{
   	padding-top:20px;
	padding-bottom: 20px;
}

.category_id p{
	padding-top:15px;
	padding-bottom: 25px;
}

.edit{
   font-family: 'Quicksand', bold;
   margin:0 auto;
   text-align:center;
   padding-top:15px;
}

.edit h1{
	font-size: 44px;
}

.edit input{
	font-family: 'Quicksand', bold;
    border:1px solid;
    color:black;
    width: 230px;
}

.edit textarea{
	font-size:12px;
}

.edit button{
	margin-top: 20px;
	margin-bottom: 20px;
	border:1px solid;
	font-size: 15px;
	font-family: 'Quicksand'; 
	text-align: center;
}

.title_of_article{
    font-family: 'Quicksand', bold;
    margin:0 auto;
    text-align: center;
    padding-bottom:10px;
}

.edit_image{
  /* background-image: url("http://i.imgur.com/6gRI2z5.jpg?2");*/
    background-image: url("/images/image5.jpg");
   height:400px;
   width: 100%;
   background-position:center;
   background-repeat: no-repeat;
   padding-top: 20px;
   padding-bottom: 20px;
}










