.title{
	/*background-image: url("https://www.thecultivist.com/system/files/042015/553f8d75b3204f6bff000004/background/David_Dawson-Bridgeman-Images-the_painters_feet_2010.jpg?1432805604");*/
	
	/*background-color:rgba(255,255,255,0.5)*/

}

.background_image{	
	background-image: url("https://www.thecultivist.com/system/files/042015/553f8d75b3204f6bff000004/background/David_Dawson-Bridgeman-Images-the_painters_feet_2010.jpg?1432805604");
    height:700px;
	width:100%;
	background-attachment: fixed;
}



.title h1{
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Quicksand';
    margin:0 auto;
    text-align: center;
    font-size: 70px;
    color:white;
    padding-top: 200px

}

.title h2{
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Quicksand';
    margin:0 auto;
    text-align: center;
    font-size: 70px;
    color:white;
    padding-top: 50px

}


.login h2{
    font-size:30px;
    font-family: 'Quicksand';
    font-weight: bolder; 
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    color:black;
}

.login input{
	/*border:2px solid #456879;*/
	border:1px solid;
	/*border-radius:10px;*/
	height: 22px;
	width: 230px;
	font-family: 'Quicksand';
	font-size: 20px;
	opacity: 0.9;
    filter: alpha(opacity=40);
}

.login button{
	font-size: 15px;
	font-family: 'Quicksand'; 
	/*border: solid 4px rgba(196,196,196,0.06);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    color: rgba(0,0,0,1);*/
    border:1px solid;
}

.login button:hover{
	background:grey;

}

.title p{
	margin:0 auto;
	padding-top: 40px;
	font-size:20px;
	text-align: center;
	font-family: 'Quicksand'; 
	font-weight: bold
	
}

.index_image{
	background-image: url("http://i.imgur.com/wKnxsWQ.jpg?2");
	background-position: center;
	height:800px;
	background-repeat: no-repeat;
	text-align: center;
	/*padding-top: 20px;*/
}

.index h1{
	margin:0 auto;
	text-align: center;
	font-size: 40px;
	font-family: 'Quicksand'; 
	font-weight:bold;
	/*padding-top:10px;*/
    /*padding-bottom:20px;*/
}

.index h2{
	margin:0 auto;
	text-align: center;
	font-size: 40px;
	font-family: 'Quicksand', bold;
	/*padding-top: 40px;*/
}

.index li{
	list-style-type: none;
	display:inline;
	font-family: 'Quicksand', bold;
	padding-right: 140px;
	padding-left: 130px;
	font-size: 24px
}

.index button{
	border:1px solid;
	font-size: 15px;
	font-family: 'Quicksand'; 
	margin:0 auto;
	text-align: center;
}

.sign_up{
	font-family: 'Quicksand', bold;
	margin:0 auto;
	text-align:center;
}

/*.sign_up h1{
	font-family: 'Quicksand', bold;
	margin:0 auto;
	text-align:center;
}*/

.sign_up input{
    font-family: 'Quicksand', bold;
    border:1px solid;
    color:black;
    width: 150px;
}

.sign_up button{
	font-family: 'Quicksand', bold;
    border:1px solid;
}

.signup_image{
    background-image:url("http://i.imgur.com/hALtqfi.jpg?1");
    background-position:center;
    height:800px;
	width:100%;
}

.redirect{
	background-image:url("http://i.imgur.com/xRyBNO3.jpg?1");
	color:white;
	height:700px;
	width:100%;
	background-position:center;
	font-family: 'Quicksand', bold;
	margin:0 auto;
	text-align:center;
    background-repeat: no-repeat;
}

.redirect_writing{
	/*opacity:0.9;
	background-color: rgba(255,255,255,0.5);*/
	color:white;
	font-family: 'Quicksand', bold;
	height:100px;
	width:30%;
	text-align:center;
	margin:0 auto;
	padding-left:400px;
	padding-top: 150px;
}

.articles{
	font-family: 'Quicksand', bold;
	text-align:center;
	margin:0 auto;
	
}

.articles h1{
	font-size: 40px;
	padding-top: 30px;
}

.articles li{
	list-style-type: none;
	font-size:32px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.articles li a{
	padding bottom:5px;
}

.articles_top li{
	list-style-type: none;
	display:inline;
	font-family: 'Quicksand', bold;
	padding-right: 120px;
	padding-left: 129px;
	font-size: 24px
}

.view_articles{
   font-family: 'Quicksand', bold;
   margin:0 auto;
   text-align:center;
}

.view_articles h2{
	padding-top: 30px;
    font-size: 32px;
}

.view_article p {
	font-size: 28px;
}

.new_form{
   font-family: 'Quicksand', bold;
   margin:0 auto;
   text-align:center;
   padding-top: 10px;
   background-image: url("http://petitepassport.com/dev/wordpress/wp-content/uploads/2014/11/jeffkoonscentrepompidou.jpg");
   height:700px;
   width:100%;
   background-position:center;
   background-repeat: no-repeat;
}

.new_form h1{
	padding-top: 20px;
	font-size: 30px;

}

.new_form input{
    font-family: 'Quicksand', bold;
    border:1px solid;
    font-color:black;
    width: 150px;
    margin:0 auto;
    background-color: rgba(249,249,249,0)

}


.new_form label{
	margin:0 auto;
    text-align:center;
}

.skinny_div{
	width:50%;
    margin:0 auto;
    text-align:center;
}

.clear {
	background-color: rgba(249,249,249,0);
	border-radius: 10px;
}

.categories{
   font-family: 'Quicksand', bold;
   margin:0 auto;
   text-align:center;
}

.categories h1{
	font-size:50px;
}

.categories ul{
   list-style-type: none;
   margin:0 auto;
   text-align:center;
   font-size:22px;
   padding-top: 10px;

}

.categories li{
	padding-bottom: 10px;
}

.categories_img{
	padding-top:10px;
	background-image: url("http://i.imgur.com/CXkqTwb.jpg?1");
	width:100%;
	height:800px;
	background-position:center;
    background-repeat: no-repeat;
}









